/* CSS V2 */
:root {
  --default-font: "IBM Plex Mono", monospace, system-ui, -apple-system,
    "Segoe UI", "Helvetica Neue", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Poppins", sans-serif;
  --nav-font: "IBM Plex Mono", monospace;
  --font-size-fluid--large: 5vh;
  --font-size-fluid--display: 10vh;
  --font-size-mobile--large: 5vh;
  --font-size-mobile--display: 8vh;
}

/* Colores globales */
:root {
  --background-color: #f5f5f5;
  --default-color: #2e2e2e;
  --heading-color: #2e2e2e;
  --accent-color: #4e4e4e;
  --surface-color: #f8f8f8;
  --contrast-color: #f8f8f8;
}

/* Colores de Nav Menu */
:root {
  --nav-color: #2e2e2e;
  --nav-hover-color: #6b8e8c;
  --nav-mobile-background-color: #f5f5f5;
  --nav-dropdown-background-color: #f5f5f5;
  --nav-dropdown-color: #212529;
  --nav-dropdown-hover-color: #6b8e8c;
}

.light-background {
  --background-color: #f8f8f8;
  --surface-color: #e0d8d0;
}

.dark-background {
  --background-color: #313131;
  --default-color: #f5f5f5;
  --heading-color: #f5f5f5;
  --surface-color: #2e2e2e;
  --contrast-color: #f5f5f5;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/* === General y Classes Compartidas=== */
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

h1 {
  font-size: var(--font-size-mobile--large);
}

@media (min-width: 1200px) {
  h1 {
    font-size: var(--font-size-fluid--large);
  }
}

::selection {
  color: var(--background-color);
  background-color: var(--default-color);
}

/* ===Header=== */
.header {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 20px 0;
  transition: all 0.5s;
  z-index: 997;
}

.header .logo {
  line-height: 1;
}

.header .logo img {
  max-height: 32px;
  margin-right: 8px;
}

.header .logo h1 {
  font-size: 30px;
  margin: 0;
  font-weight: 300;
  color: var(--heading-color);
}

.scrolled .header {
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

/* ===Buttons=== */

.btn-nav {
  border-bottom: 2px solid transparent;
  transition: 0.3s all ease-in-out;
  border-radius: 2px;
  padding: 10px 30px;
}
.btn-nav:hover {
  border-bottom: 2px solid var(--accent-color);
  color: var(--accent-color);
  border-radius: 2px;
  padding: 10px 30px;
}

.btn-get-started {
  color: var(--default-color);
  background-color: var(--background-color);
  border-radius: 2px;
  padding: 10px 30px;
  border: 2px solid var(--default-color);
  transition: 0.3s all ease-in-out;
}

.btn-get-started:hover {
  background-color: var(--default-color);
  color: var(--background-color);
}

.btn-fill {
  background-color: var(--default-color);
  color: var(--background-color);
  border-radius: 2px;
  padding: 10px 30px;
  border: 2px solid var(--default-color);
  transition: 0.3s all ease-in-out;
}

.btn-fill:hover {
  color: var(--default-color);
  background-color: var(--background-color);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Navmenu - Desktop */
.navmenu {
  padding: 0;
  font-size: 14px;
}

.navmenu ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navmenu li {
  position: relative;
}

/* .navmenu li:last-child a {
  padding-right: 0;
} */

/* .navmenu li:hover>a,
.navmenu .active,
.navmenu .active:focus {
  color: var(--nav-hover-color);
} */

/* ===Footer=== */
.footer {
  background-color: var(--background-color);
  color: var(--default-color);
  padding: 60px 0;
  border-top: 1px solid
    color-mix(in srgb, var(--default-color), transparent 80%);
}

.footer a {
  color: var(--default-color) !important;
  border-bottom: 2px solid transparent;
  transition: 0.3s all ease-in-out;
  border-radius: 2px;
}

.footer a:hover {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  border-radius: 2px;
  padding: 0 10px;
}

.footer .copyright {
  margin-top: 50px;
  position: relative;
  padding-top: 20px;
  border-top: 1px solid
    color-mix(in srgb, var(--default-color), transparent 80%);
}

.footer .copyright p,
.footer .copyright .credits {
  margin: 2px 0;
}

.footer-portfolio {
  width: 100%;
  /* position: fixed; */
  /* bottom: 0; */
  background-color: var(--background-color);
  color: var(--default-color);
  padding: 20px 0;
  border-top: 1px solid
    color-mix(in srgb, var(--default-color), transparent 80%);
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: var(--background-color);
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #ffffff;
  border-color: var(--accent-color) transparent var(--accent-color) transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 0;
}

.scroll-top:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
  color: var(--contrast-color);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/* ===Page Titles & Breadcrumbs=== */
.page-title {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 20px 0;
  position: relative;
}

.page-title h1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0 0 5px 0;
}

.page-title .breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.page-title .breadcrumbs ol li + li {
  padding-left: 10px;
}

.page-title .breadcrumbs ol li + li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: color-mix(in srgb, var(--default-color), transparent 70%);
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 150px 0;
  scroll-margin-top: 100px;
  overflow: clip;
}

@media (max-width: 1199px) {
  section,
  .section {
    scroll-margin-top: 66px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0;
}

.section-title p {
  font-size: 15px;
  margin-bottom: 10px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  height: 80vh;
  /* box-sizing: content-box; */
}

.hero h1 {
  color: var(--heading-color);
  font-size: var(--font-size-mobile--display);
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -2px;
}

@media (min-width: 1199px) {
  .hero h1 {
    font-size: var(--font-size-fluid--display);
  }
}

.hero p {
  line-height: 1.7;
  color: var(--default-color);
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about h1 {
  color: var(--heading-color);
  /* font-size: 30px; */
  /* font-weight: 600; */
  line-height: 0.95;
}

.about p {
  line-height: 1.7;
  color: var(--default-color);
}

.about .imagen-about {
  background-image: url("../img/img_v_3.JPG");
  background-size: cover;
}

@media (max-width: 991px) {
  .about .imagen-about {
    height: 400px;
    background-size: cover;
    background-position: center 60%;
  }
}

/*--------------------------------------------------------------
# Problem Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Why Us Section
--------------------------------------------------------------*/
.whyUs .whyUs-item:hover {
  cursor: pointer;
  background: color-mix(in srgb, var(--default-color), transparent 96%);
}

.whyUs .imagen-whyUs {
  background-image: url("../img/img_v_1.JPG");
  background-size: cover;
}

@media (max-width: 991px) {
  .whyUs .imagen-whyUs {
    height: 400px;
    background-size: cover;
    background-position: center 60%;
  }
}

/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services .services-item {
  padding: 1rem;
  height: 400px;
}

/* .services .services-item:hover {
  cursor: pointer;
  background: color-mix(in srgb, var(--default-color), transparent 96%);
  padding: 1rem;
} */

.services .services-item .services-icon {
  color: var(--accent-color);
  margin-bottom: 20px;
}

.services .services-item .services-icon i {
  font-size: 48px;
}

.services .services-item h3 {
  font-size: 17px;
  font-weight: 400;
  color: var(--heading-color);
}

.services .imagen-services {
  background-image: url("../img/img_v_1.JPG");
  background-size: cover;
  height: 500px;
}

@media (max-width: 991px) {
  .services .imagen-services {
    height: 400px;
    background-size: cover;
    background-position: center 60%;
  }
  .services .services-item {
    height: auto;
  }
}

/*--------------------------------------------------------------
# Services Web Section
--------------------------------------------------------------*/
.services-web {
  padding-top: 60px;
  padding-bottom: 60px;
}

.services-web .services-item .services-icon {
  color: var(--accent-color);
  margin-bottom: 20px;
}

.services-web .services-item .services-icon i {
  font-size: 48px;
}

.services-web .services-item h3 {
  font-size: 17px;
  font-weight: 400;
  color: var(--heading-color);
}

.services-web .service-item .service-contents h3 {
  font-size: 16px;
  color: var(--heading-color);
}

.services-web .service-item.link {
  padding: 20px;
  margin-bottom: 10px;
}

.services-web .service-item.link .service-contents {
  color: var(--default-color);
}

.services-web .service-item.link .service-contents *:last-child {
  margin-bottom: 0;
}

.services-web .service-item.link:hover {
  background: color-mix(in srgb, var(--default-color), transparent 96%);
}

.services-web .service-item.link:hover .service-icon {
  background-color: color-mix(in srgb, var(--default-color), transparent 90%);
  color: var(--default-color);
}

.services-web .service-item.link.active {
  background: var(--surface-color);
}

.services-web .service-item.link.active .service-icon {
  background-color: var(--accent-color);
  color: var(--contrast-color);
}

.services-web .formulario {
  color: var(--background-color);
}

/*--------------------------------------------------------------
# We love Section
--------------------------------------------------------------*/
.we-love {
  padding: 150px 0 0 0;
}

/*--------------------------------------------------------------
# Tabs Section
--------------------------------------------------------------*/
.tabs .tab-item {
  border-top: var(--default-color) 1px solid;
  border-bottom: var(--default-color) 1px solid;
  padding: 20px;
}

.tabs .tabs-item.link {
  padding: 20px;
  margin-bottom: 10px;
}

.tabs .service-item.link:hover {
  background: color-mix(in srgb, var(--default-color), transparent 96%);
}

/*--------------------------------------------------------------
# Pricing Section
--------------------------------------------------------------*/
.pricing .pricing-item {
  background-color: var(--surface-color);
  box-shadow: 0px 5px 90px rgba(0, 0, 0, 0.1);
  padding: 40px 20px;
  text-align: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.pricing .pricing-item h3 {
  padding: 15px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
}

.pricing .pricing-item h4 {
  color: var(--accent-color);
  font-size: 42px;
  font-family: var(--default-font);
  font-weight: 500;
}

.pricing .pricing-item h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing .pricing-item h4 span {
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  font-size: 16px;
  font-weight: 300;
}

.pricing .pricing-item ul {
  padding: 20px 0;
  list-style: none;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing .pricing-item ul li {
  padding-bottom: 16px;
}

.pricing .pricing-item ul .na {
  color: color-mix(in srgb, var(--default-color), transparent 60%);
  text-decoration: line-through;
}

.pricing .pricing-item .btn-wrap {
  padding: 15px;
  text-align: center;
}

.pricing .pricing-item .btn-buy {
  color: var(--accent-color);
  background-color: transparent;
  border: 2px solid var(--accent-color);
  display: inline-block;
  padding: 10px 40px 12px 40px;
  border-radius: 50px;
  font-size: 14px;
  font-family: var(--heading-font);
  font-weight: 600;
  transition: 0.3s;
}

.pricing .pricing-item .btn-buy:hover {
  background: var(--accent-color);
  color: var(--contrast-color);
}

.pricing .recommended .btn-buy {
  background: var(--accent-color);
  color: var(--contrast-color);
}

.pricing .recommended .btn-buy:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%);
  border-color: color-mix(in srgb, var(--accent-color), transparent 20%);
}

.pricing .recommended-badge {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 13px;
  padding: 3px 25px 6px 25px;
  background: color-mix(in srgb, var(--accent-color), transparent 92%);
  color: var(--accent-color);
  border-radius: 50px;
}

/*--------------------------------------------------------------
# Faq Section
--------------------------------------------------------------*/
.faq .content-subtitle {
  font-size: 15px;
  margin-bottom: 10px;
  display: block;
  color: var(--default-color);
}

.faq .content-title {
  color: var(--heading-color);
  font-size: 22px;
  margin-bottom: 30px;
}

.faq p {
  line-height: 1.7;
  color: var(--default-color);
}

.faq .custom-accordion .accordion-item {
  /* background-color: var(--accent-color); */
  margin-bottom: 0px;
  position: relative;
  border-radius: 0px;
  overflow: hidden;
}

.faq .custom-accordion .accordion-item .btn-link {
  display: block;
  width: 100%;
  padding: 15px 0;
  text-decoration: none;
  text-align: left;
  color: var(--default-color);
  border: none;
  padding-left: 40px;
  border-radius: 0;
  position: relative;
  background-color: color-mix(in srgb, var(--default-color), transparent 94%);
}

.faq .custom-accordion .accordion-item .btn-link:before {
  content: "\F64D";
  display: inline-block;
  font-family: "bootstrap-icons" !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.faq .custom-accordion .accordion-item .btn-link[aria-expanded="true"] {
  color: var(--accent-color);
}

.faq .custom-accordion .accordion-item .btn-link[aria-expanded="true"]:before {
  font-family: "bootstrap-icons" !important;
  content: "\F659";
  position: absolute;
  color: var(--accent-color);
  top: 50%;
  transform: translateY(-50%);
}

.faq .custom-accordion .accordion-item .accordion-body {
  padding: 20px 20px 20px 40px;
  color: var(--default-color);
}

/* ===Portfolio Section=== */
.portfolio .portfolio-item .portfolio-img .portfolio-bw-color {
  filter: grayscale(1);
  cursor: pointer;
}
.portfolio .portfolio-item .portfolio-img .portfolio-bw-color:hover {
  filter: grayscale(0);
  transition: all 0.3s ease-in-out;
  transform: scale(1.01);
}

.portfolio-img:before {
  pointer-events: none;
  font-family: "bootstrap-icons" !important;
  content: "\F403";
  position: relative;
  bottom: 0;
  top: 50px;
  left: 90%;
  z-index: 5;
}

.portfolio-img:hover:before {
  color: var(--accent-color);
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
}

.portfolio .portfolio-filters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio .portfolio-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 20px 10px 20px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 5px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  font-family: var(--heading-font);
}

.portfolio .portfolio-filters li:hover,
.portfolio .portfolio-filters li.filter-active {
  color: var(--contrast-color);
  background-color: var(--accent-color);
}

.portfolio .portfolio-filters li:first-child {
  margin-left: 0;
}

.portfolio .portfolio-filters li:last-child {
  margin-right: 0;
}

@media (max-width: 575px) {
  .portfolio .portfolio-filters li {
    font-size: 14px;
    margin: 0 0 10px 0;
  }
}

/* .portfolio .portfolio-item {
  position: relative;
  overflow: hidden;
} */

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: -100%;
  z-index: 3;
  transition: all ease-in-out 0.5s;
  background: color-mix(in srgb, var(--background-color), transparent 10%);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  /* position: absolute; */
  /* right: 50px; */
  font-size: 1.3rem;
  top: calc(50% - 14px);
  color: color-mix(in srgb, var(--accent-color), transparent 30%);
  transition: 0.3s;
  margin: 0 15px;
  border-bottom: 2px solid transparent;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.portfolio .portfolio-item .portfolio-info .details-link {
  /* right: 14px; */
  font-size: 1.3rem;
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 0;
  /* top: 0; */
}

/* ==Portfolio Page== */
.portfolio-page {
  padding: 10px 0;
  /* margin: 0 auto; */
  /* height: 100vh; */
}

.portfolio-page .example-website {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.portfolio-page .example-website-fixed {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------------------
# Team Section
--------------------------------------------------------------*/
.team .team h3 {
  font-size: 20px;
}

.team .team h3 a {
  color: var(--heading-color);
}

.team .team .pic {
  margin-bottom: 30px;
}

.team .team .pic img {
  border-radius: 4px;
}

.team .team .position {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  color: color-mix(in srgb, var(--heading-color), transparent 30%);
}

.team p {
  line-height: 1.7;
  color: var(--default-color);
}

.team .more {
  position: relative;
  padding-right: 30px;
  display: inline-block;
}

.team .more span {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 16px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: transparent;
  color: var(--contrast-color);
  line-height: 1.6;
  text-align: center;
  transition: 0.3s all ease;
}

.team .more span:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.team .more:hover {
  color: var(--contrast-color);
}

.team .more:hover span {
  background: var(--accent-color);
}

.team .more.dark {
  color: var(--default-color);
}

.team .more.dark > span {
  color: var(--default-color);
}

.team .more.dark:hover {
  color: var(--accent-color);
}

.team .more.dark:hover span {
  color: var(--contrast-color);
  background: var(--accent-color);
}

.team .swiper-wrapper {
  height: auto;
}

.team .slider-nav a {
  width: 40px;
  height: 40px;
  position: relative;
  background: var(--accent-color);
  border-radius: 4px;
  transition: 0.2s all ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team .slider-nav a i {
  color: var(--contrast-color);
}

.team .slider-nav a:hover {
  background-color: color-mix(in srgb, var(--accent-color) 90%, white 15%);
}

.team .slider-nav a:first-child {
  margin-right: 5px;
}

/*--------------------------------------------------------------
# Blog Posts 2 Section
--------------------------------------------------------------*/
.blog-posts-2 article {
  height: 100%;
}

.blog-posts-2 .post-img {
  max-height: 440px;
  overflow: hidden;
}

.blog-posts-2 .title {
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 5px 0;
}

.blog-posts-2 .title a {
  color: var(--heading-color);
  transition: 0.3s;
}

.blog-posts-2 .title a:hover {
  color: var(--accent-color);
}

.blog-posts-2 .meta-top {
  margin-top: 10px;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
}

.blog-posts-2 .meta-top ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.blog-posts-2 .meta-top i {
  font-size: 24px;
  line-height: 0;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
}

.blog-posts-2 .meta-top a {
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}

/*--------------------------------------------------------------
# Blog Pagination Section
--------------------------------------------------------------*/
.blog-pagination {
  padding-top: 0;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
}

.blog-pagination ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.blog-pagination li {
  margin: 0 5px;
  transition: 0.3s;
}

.blog-pagination li a {
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  padding: 7px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-pagination li a.active,
.blog-pagination li a:hover {
  background: var(--accent-color);
  color: var(--contrast-color);
}

.blog-pagination li a.active a,
.blog-pagination li a:hover a {
  color: var(--contrast-color);
}

/*--------------------------------------------------------------
# Blog Details Section
--------------------------------------------------------------*/
.blog-details {
  padding-bottom: 30px;
}

.blog-details .article {
  background-color: var(--surface-color);
  padding: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog-details .post-img {
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}

.blog-details .title {
  color: var(--heading-color);
  font-size: 28px;
  font-weight: 700;
  padding: 0;
  margin: 30px 0;
}

.blog-details .content {
  margin-top: 20px;
}

.blog-details .content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}

.blog-details .content blockquote {
  overflow: hidden;
  background-color: color-mix(in srgb, var(--default-color), transparent 95%);
  padding: 60px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.blog-details .content blockquote p {
  color: var(--default-color);
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}

.blog-details .content blockquote:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: var(--accent-color);
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog-details .meta-top {
  margin-top: 20px;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
}

.blog-details .meta-top ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.blog-details .meta-top ul li + li {
  padding-left: 20px;
}

.blog-details .meta-top i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
}

.blog-details .meta-top a {
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}

.blog-details .meta-bottom {
  padding-top: 10px;
  border-top: 1px solid
    color-mix(in srgb, var(--default-color), transparent 90%);
}

.blog-details .meta-bottom i {
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  display: inline;
}

.blog-details .meta-bottom a {
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  transition: 0.3s;
}

.blog-details .meta-bottom a:hover {
  color: var(--accent-color);
}

.blog-details .meta-bottom .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}

.blog-details .meta-bottom .cats li {
  display: inline-block;
}

.blog-details .meta-bottom .tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}

.blog-details .meta-bottom .tags li {
  display: inline-block;
}

.blog-details .meta-bottom .tags li + li::before {
  padding-right: 6px;
  color: var(--default-color);
  content: ",";
}

.blog-details .meta-bottom .share {
  font-size: 16px;
}

.blog-details .meta-bottom .share i {
  padding-left: 5px;
}

/*--------------------------------------------------------------
# Blog Comments Section
--------------------------------------------------------------*/
.blog-comments {
  padding: 10px 0;
}

.blog-comments .comments-count {
  font-weight: bold;
}

.blog-comments .comment {
  margin-top: 30px;
  position: relative;
}

.blog-comments .comment .comment-img {
  margin-right: 14px;
}

.blog-comments .comment .comment-img img {
  width: 60px;
}

.blog-comments .comment h5 {
  font-size: 16px;
  margin-bottom: 2px;
}

.blog-comments .comment h5 a {
  font-weight: bold;
  color: var(--default-color);
  transition: 0.3s;
}

.blog-comments .comment h5 a:hover {
  color: var(--accent-color);
}

.blog-comments .comment h5 .reply {
  padding-left: 10px;
  color: color-mix(in srgb, var(--default-color), transparent 20%);
}

.blog-comments .comment h5 .reply i {
  font-size: 20px;
}

.blog-comments .comment time {
  display: block;
  font-size: 14px;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  margin-bottom: 5px;
}

.blog-comments .comment.comment-reply {
  padding-left: 40px;
}

/*--------------------------------------------------------------
# Comment Form Section
--------------------------------------------------------------*/
.comment-form {
  padding-top: 10px;
}

.comment-form form {
  background-color: var(--surface-color);
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.comment-form form h4 {
  font-weight: bold;
  font-size: 22px;
}

.comment-form form p {
  font-size: 14px;
}

.comment-form form input {
  background-color: var(--surface-color);
  color: var(--default-color);
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 70%);
  font-size: 14px;
  border-radius: 4px;
  padding: 10px 10px;
}

.comment-form form input:focus {
  color: var(--default-color);
  background-color: var(--surface-color);
  box-shadow: none;
  border-color: var(--accent-color);
}

.comment-form form input::placeholder {
  color: color-mix(in srgb, var(--default-color), transparent 50%);
}

.comment-form form textarea {
  background-color: var(--surface-color);
  color: var(--default-color);
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 70%);
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 14px;
  height: 120px;
}

.comment-form form textarea:focus {
  color: var(--default-color);
  box-shadow: none;
  border-color: var(--accent-color);
  background-color: var(--surface-color);
}

.comment-form form textarea::placeholder {
  color: color-mix(in srgb, var(--default-color), transparent 50%);
}

.comment-form form .form-group {
  margin-bottom: 25px;
}

.comment-form form .btn-primary {
  border-radius: 4px;
  padding: 10px 20px;
  border: 0;
  background-color: var(--accent-color);
  color: var(--contrast-color);
}

.comment-form form .btn-primary:hover {
  color: var(--contrast-color);
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/

.contact .info p {
  margin-bottom: 30px;
  font-size: 15px;
}

.contact .info-item + .info-item {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid
    color-mix(in srgb, var(--default-color), transparent 90%);
}

.contact .info-item i {
  font-size: 24px;
  color: var(--accent-color);
  transition: all 0.3s ease-in-out;
  margin-right: 20px;
}

.contact .info-item h4 {
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
}

.contact .email-form {
  width: 100%;
}

.contact .email-form .form-group {
  padding-bottom: 8px;
}

.contact .email-form input[type="text"],
.contact .email-form input[type="email"],
.contact .email-form textarea {
  color: var(--default-color);
  background-color: var(--surface-color);
  border-radius: 0px;
  box-shadow: none;
  font-size: 14px;
  border-color: color-mix(in srgb, var(--default-color), transparent 80%);
}

.contact .email-form input[type="text"]:focus,
.contact .email-form input[type="email"]:focus,
.contact .email-form textarea:focus {
  border-color: var(--accent-color);
}

.contact .email-form input[type="text"]::placeholder,
.contact .email-form input[type="email"]::placeholder,
.contact .email-form textarea::placeholder {
  color: color-mix(in srgb, var(--default-color), transparent 70%);
}

.contact .email-form input[type="text"],
.contact .email-form input[type="email"] {
  height: 48px;
  padding: 10px 15px;
}

.contact .email-form textarea {
  padding: 10px 12px;
  height: 290px;
}

.contact .email-form button[type="submit"] {
  background: var(--accent-color);
  color: var(--contrast-color);
  border: 0;
  padding: 13px 50px;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .email-form button[type="submit"]:hover {
  background: color-mix(in srgb, var(--accent-color) 90%, black 15%);
}

.contact .hidden {
  display: none;
}
